<footer class="mt-5 pt-4 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entra en Contacto</h3>
                <address>
                    +57 311 994 11855
                    <br/>
                    <a href="mailto:{{ contato_email }}" class="text-light">{{ contato_email }}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Administrador de Tareas. Todos los derechos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>